!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title CTE POC
    = stylesheet_link_tag 'application.css'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'
    = javascript_include_tag 'application.js'
  %body.nav-md
    .container.body
      .main_container
        .col-md-3.left_col
          .left_col.scroll-view
            .navbar.nav_title{:style => ""}
              %a.site_title{:href => "/"}
                -# %i.fa.fa-paw
                -# %span CTE POC
            .clearfix
            %br/
            = render 'layouts/left_menu'
        = render 'layouts/top_nav'
        / page content
        .right_col{:role => "main"}
          = yield
        / /page content
        / footer content
        %footer
          .pull-right
            CTE
            %a{:href => "/"} POC
          .clearfix
        / /footer content
