!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title CTE POC
    = stylesheet_link_tag 'application.css'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css'
    = javascript_include_tag 'application.js'
  %body
    .container
      .form-signin
        .navbar.nav_title{:style => ""}
          %a.site_title{:href => "/"}
        .clearfix
        %p.notice= notice
        %p.alert= alert
        = yield
        %footer
          .pull-right
            CTE
            %a{:href => "/"} POC
          .clearfix
